body {
    font-family: AbeeZee;
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
    position: fixed;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}

.banner {
    letter-spacing: 15px;
    font-family: Bitsumishi;
    color: #e74c3c;
    font-size: 450%;
    position: fixed;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
}

.btn {
    background-color: #2C5364;
    height: 55px;
    width: 105%;
    border: none;
    border-radius: 5px;
    color: #e74c3c;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-bottom: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #aab7b8;
    color: black;
    border: 2px solid #2C5364;
}

.btn:hover {
    background-color: #2C5364;
    color: white;
}

input {
    font-size: 20px;
    padding: 5px;
    width: 105%;
    height: 35px;
    margin: 3% auto;
    border-radius: 5px;
    color: white;
    background-color: #203A43;
}